/* body {
    background-color: rgb(20, 22, 18);
} */
.App {
  text-align: left;
  width: 90%;
  margin: 4% auto;
  font-family: "SF Pro Text";
  font-size: 16px;
}

h1 {
  font-family: inherit;
  font-size: 28px;
  color:gray;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 1px;
}